body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', BlinkMacSystemFont, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(135deg, #f8d3f5, #a6f3f3, #a2e3f8, #ff9e9e);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.container {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 .5rem #fff, 0 0 .5rem #fff, 0 0 2rem #1F51FF, 0 0 1rem #1F51FF, 0 0 3rem #1F51FF, inset 0 0 1.5rem #1F51FF;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 2px solid #fff;
}

h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
}

.centered-textarea {
    color: #fff;
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #00ffff;
    border-radius: 5px;
    resize: none;
}

.btn-primary {
    background-color: #00ff00;
    border: 1px solid #007bff;
    color: #261a1a;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #76d674;
    border: 1px solid #0056b3;
}

.footer {
    background-color: #5c6bc0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
}

.form-check input[type="checkbox"] {
    color: #FFF;
    margin-right: 10px;
}

.form-check-label {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 22px;
}

#submitButton {
    width: 100%;
}

@media (max-width: 576px) {
    .form-check-label {
        font-size: 12px;
    }
}
